.admin-section {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  z-index: 500;

  .container {
    position: relative;
    max-width: 550px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.log-out-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: $primary-color;
  color: #fefefe;
  font-weight: bold;

  &:hover {
    background-color: rgb(139, 25, 73);
  }
}

.frm-product-field {
  display: block;
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.4);

  &::placeholder {
    font-size: 14px;
    font-family: $primary-font, Arial;
  }
}

.frm-product-field.label {
  border: none;
}

.frm-product-add {
  position: relative;

  label {
    padding: 0;
    margin: 10px 0;
  }

  .cta-defaults {
    cursor: pointer;
    background-color: $primary-color;
    color: #fefefe;
    margin-top: 20px;

    &:hover {
      background-color: rgb(139, 25, 73);
    }
  }

  .err-text {
    text-align: left;
  }
}


.process-loader {
  display: block;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}



.image-preview-group {
  min-height: 100px;
  background-color: rgb(243, 243, 243);
  position: relative;
}

.imageAgents {
  display: block;
  margin-top: 20px;
}

.imageAgents.output {
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  margin-top: 0;
  margin-right: 20px;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}

.notifier {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  text-align: center;
  background-color: rgb(139, 25, 73);
  color: #fefefe;
  padding: 5px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  animation: slideDown 0.80s ease forwards,
    slideUp 0.80s ease 1.50s forwards;
}


@keyframes slideDown {
  from {
    transform: translate(-50%, -150%)
  }

  to {
    transform: translate(-50%, 0)
  }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 0)
  }

  to {
    transform: translate(-50%, -150%)
  }

}