.admin-section {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  z-index: 500;

  .container {
    position: relative;
    max-width: 550px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.log-out-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: $primary-color;
  color: #fefefe;
  font-weight: bold;

  &:hover {
    background-color: rgb(139, 25, 73);
  }
}

.frm-product-field {
  display: block;
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.4);

  &::placeholder {
    font-size: 14px;
    font-family: $primary-font, Arial;
  }
}

.frm-product-field.label {
  border: none;
}

.frm-product-add {
  label {
    padding: 0;
    margin: 20px 0;
  }

  .cta-defaults {
    cursor: pointer;
    background-color: $primary-color;
    color: #fefefe;
    margin-top: 20px;

    &:hover {
      background-color: rgb(139, 25, 73);
    }
  }

  .err-text {
    text-align: left;
  }
}

.imageFile {
  display: block;
  margin-top: 20px;
}
