.admin-client {
  display: block;
  position: fixed;
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  padding: 10px;

  .cta-defaults {
    cursor: pointer;
    position: relative;
    display: block;
    background-color: $primary-color;
    color: #fefe;
    border: none;
    width: 90%;
    transition: background 0.40s linear;
    margin: 0 auto;
    min-height: 32px;

    &:hover {
      background-color: rgb(138, 2, 59);
    }

    .general-loader {
      width: 20px;
      height: 20px;
      border: 2px solid #fefefe;
      border-bottom: 2px solid transparent;
    }
  }
}

.loginForm {
  position: absolute;
  display: inline-block;
  text-align: center;
  background-color: #fefefe;
  width: 100%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  color: $primary-color;
  padding: 10px 5px 20px 5px;
}

.user-icon-wrap {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: tomato;
    z-index: -1;
    transform: scale(1.8);
    border-radius: 50%;
    background-color: #fefefe;
  }

  top: -25px;

  svg {
    font-size: 60px;
  }
}


.sign-field {
  padding: 10px;
  display: block;
  width: 90%;
  margin: 10px auto;
  border: 1px solid rgba(46, 46, 46, 0.25);
  border-radius: 3px;
  font-size: 16px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.25)
  }
}


.err-text {
  color: firebrick;
  font-style: italic;
  margin: 4px 0;
  text-align: center;
}