.cta-defaults {
  display: inline-block;
  border: 1px solid $primary-cta-color;
  padding: 8px 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: $primary-cta-color;
  font-weight: bolder;
  transition: background 0.40s ease;

  &:hover {
    background-color: $primary-cta-color;
    color: $primary-font-color;
  }
}