.site-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 13, 13, 0.8);
  z-index: 40;
  animation: slowFade 0.60s ease forwards;
  opacity: 0;
}


@keyframes slowFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.site-overlay.show {
  display: block;
}