.site-nav {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  ul {
    display: none;
    text-align: right;

    @include respond-to(medium) {
      display: block;
    }
  }

  ul,
  li {
    list-style: none;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  a {
    display: block;
    color: $secondary-font-color;
    text-decoration: none;
    font-weight: 540;
    position: relative;
    font-size: 19px;

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      margin-bottom: -4px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: $primary-border-color;
      border-radius: 4px;
      transition: width 0.2s ease;
    }
  }
}