$breakPoints: (
  small: 400px,
  medium: 750px,
  large: 920px
);

@mixin respond-to($size) {
  $value: map-get($breakPoints, $size);
  @media screen and(min-width: $value) {
    @content;
  }
}

$pastry-breakpoints: (
  semi: 500px,
  large: 950px
);

@mixin respond-pastry($size) {
  $value: map-get($pastry-breakpoints, $size);
  @media screen and(min-width: $value) {
    @content;
  }

}
