.products-intro {
  position: relative;
  // background-color: #F9F5EF;
  padding: 18px 0;

  @include respond-to(medium) {
    padding: 40px 0;
  }
}

.product-box {
  display: block;
  margin: 40px 0;

  @include respond-to(medium) {
    margin: 0;
    display: inline-block;
    width: calc(100% / 3);
    vertical-align: middle;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.product-box-img {
  display: inline-block;
  width: 29.99%;
  vertical-align: middle;

  img {
    width: 100%;
    max-width: 95px;
    max-height: 95px;
    transition: transform 0.4s ease;
    margin: auto;
  }
}

.product-box-desc {
  display: inline-block;
  width: 69.99%;
  vertical-align: top;
  padding: 10px;
}