.recent-products {
  background-color: #F9F5EF;
  padding: 40px 0;
  text-align: center;

  h2 {
    margin-bottom: 40px;
  }

  .container {
    font-size: 0;
    max-width: 550px;

    @include respond-to(medium) {
      max-width: 1150px;
    }
  }

  .cta-hero {
    margin-top: 30px;
    font-size: 15px;
    background-color: $primary-cta-color;
    color: #F9F5EF;

    &:hover {
      background-color: transparent;
      color: $primary-cta-color;
    }
  }
}

.product-box-recent {
  display: block;
  width: 100%;
  margin-top: 32px;

  @include respond-to(medium) {
    max-width: 1150px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 15px;
    width: calc(100% / 4);
  }
}

%inlineStyleChildren {
  display: inline-block;

  vertical-align: middle;
  position: relative;
  text-align: left;

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }
}

.product-box-recent-img {
  @extend %inlineStyleChildren;
  width: 29.99%;
  text-align: center;

  @include respond-to(medium) {
    display: block;
    width: 100%;
  }

  img {
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
  }
}

.product-box-recent-caption {
  width: 69.99%;
  @extend %inlineStyleChildren;
  padding: 5px;

  @include respond-to(medium) {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px;
  }
}