.subscribe-section {
  // min-height: 400px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;


  //cloud transparent
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FEFEFE;

  .container {
    width: 100%;
    max-width: 550px;

    @include respond-to(medium) {
      font-size: 0;
      max-width: 1150px;
    }
  }

  @include respond-to(medium) {
    margin-bottom: 0;
  }
}

%ibStyle {
  @include respond-to(medium) {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 49.99%;
  }
}

.subscribe-caption {
  padding: 20px;
  border: 4px solid #750322;
  @extend %ibStyle;
}