.site-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: $secondary-color;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.20);
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;

  h1 {
    font-family: 'Pacifico', 'Helvetica', 'Myriad Pro';
    color: $primary-color;
    position: relative;
    padding: 4px;
    @extend %borderHighlight;
  }
}


%borderHighlight {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: relative;
    margin-top: 10px;
    background-color: rgba(148, 148, 148, 0.2);
    border-radius: 6px;
  }
}


.dummy-items {
  position: relative;
  @extend %borderHighlight;

  li {
    list-style: none;
    background-color: gainsboro;
    padding: 10px;
    margin-top: 10px;
  }
}

.site-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Monsterrat', "Helvetica", "Myriad Pro", "Arial";
  font-size: 14px;
  color: rgb(75, 75, 75);

  tr {
    &:nth-child(3) {
      td {
        font-weight: bolder;

        &:nth-of-type(2) {
          font-size: 20px;
        }
      }
    }

    td {

      width: 100%;
      padding: 10px;

      &:nth-of-type(1) {
        letter-spacing: 1px;
      }

      &:nth-of-type(2) {
        font-weight: bold;
        text-align: right;
      }
    }
  }
}

.site-checkout-btn {
  @extend .cta-defaults;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: $primary-color;
  color: $primary-font-color;
}

.cart-close-btn {
  @extend .site-close-btn;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}