footer {
  position: relative;
  background-color: $primary-color;
  min-height: 200px;
  padding-top: 40px;
  .container {
    font-size: 0;
    max-width: 550px;
    @include respond-to(medium) {
      max-width: 1150px;
    }
  }
}

%footer-col-style {
  font-size: 18px;
  display: block;
  margin-top: 20px;
  padding: 8px;
  p {
    width: 100%;
    font-size: 16px;
  }
  @include respond-to(medium) {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: calc(100% / 2);
    p {
      max-width: 360px;
    }
  }
  h2 {
    margin: 6px 0;
    font-family: $secondary-font;
  }
  color: rgb(255, 255, 255);
}

.footer-column {
  @extend %footer-col-style;
}

.frmSubscribe {
  width: 100%;
  margin-top: 10px;
  max-width: 330px;
  padding: 5px;
  font-size: 0;
  input[type="text"] {
    display: inline-block;
    width: 74.99%;
    padding: 10px;
    font-size: 16px;
    font-family: $primary-font;
    border: none;
    height: 45px;
    vertical-align: middle;
    background-color: #f7f7f7;
    border: 1px solid rgba(100, 100, 100, 0.5);
    outline: none;
    color: #4b4b4b;
  }
  button {
    position: relative;
    border: none;
    width: 24.99%;
    height: 45px;
    padding: 10px;
    vertical-align: middle;
    background-color: rgb(102, 0, 43);
    &::after {
      content: "✉";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-weight: lighter;
      color: #fefefe;
    }
  }
}

.copyright {
  margin-top: 20px;
  text-align: center;
  color: #fefefe;
  padding: 10px;
  background-color: rgb(102, 0, 43);
}
