.site-header {
  font-family: "Montserrat", "Helvetica", "Arial";
  color: $primary-font-color;
  min-height: 50px;
  position: relative;


  .container {
    padding: 0;

    @include respond-to(medium) {
      padding: 0 10px;
      position: relative;

      #siteLogo {
        top: 0;
        left: 0;
        right: unset;
        margin-top: 30px;
        margin-right: unset;
        margin-left: 16px;
      }
    }
  }
}

#siteLogo {
  position: absolute;
  display: inline-block;
  color: $primary-color;
  font-family: $secondary-font;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 16px;
}