main {
  width: 100%;
  min-height: 100%;
  font-family: "Montserrat", "Hevetica", "Arial";
  font-size: 15px;
  color: rgb(37, 37, 37);
  line-height: 1.6;
  position: relative;

  h1 {
    font-family: "Pacifico", "Helvetica", "Arial";
  }

  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

//import different scss of each page
@import "./main_children/homePage/index";
@import "./main_children/pastryPage/index";
@import "./main_children/adminPanel/adminpanel"