.hero-section {
  width: 100%;
  min-height: 380px;
  padding-top: 20px;
  position: relative;

  h1 {
    font-size: 40px;
    color: rgb(216, 67, 114);
  }

  @include respond-to(medium) {
    min-height: 440px;
  }
}

.hero-child {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;

  &:nth-of-type(2) {
    display: none;
  }

  @include respond-to(medium) {
    display: inline-block;
    width: 49.99%;
    vertical-align: top;
    min-height: 400px;

    &:nth-of-type(2) {
      display: inline-block;
    }
  }
}

.hero-child-caption {
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: 60px auto 0 auto;
  max-width: 450px;

  @include respond-to(medium) {
    margin-top: 30px;
    text-align: left;
  }

  * {
    margin-top: 5px;
  }
}

.cta-hero {
  @extend .cta-defaults;
  margin-top: 10px;
}


//bg wrapper hack

.bg-pattern {
  background-repeat: repeat;
  background-position: center center;
  background-image: url('/images/assets/bgTan.png');
}