.pastry-services {
}

.pastry-service-hero {
  position: relative;
  min-height: 460px;
  background-image: linear-gradient(
      to left,
      rgba(185, 5, 80, 0.9),
      rgba(185, 5, 80, 0.9)
    ),
    url("/images/assets/chefBaking.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.pastry-services-caption {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 350px;
  padding: 8px;
  text-align: center;
  padding: 5px;
  h1 {
    font-size: 50px;
    color: #fefefe;
  }
  p {
    color: #fefefe;
  }
}

.pastry-service-list {
  min-height: 400px;
  margin-top: 50px;
  background-color: tomato;
}
