.pastry-content-products {
  font-size: 0;
  width: 100%;
  text-align: center;
}

.pastry-product-box {
  display: inline-block;
  text-align: left;
  padding: 3px;
  width: 100%;
  max-width: 350px;
  min-height: 200px;

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  &:hover {

    //transform animation for the hidden caption
    .pastry-product-hidden-caption {
      opacity: 1;
    }

    img {
      transform: scale(1.1) rotate(2deg);
    }
  }

  @include respond-pastry(semi) {
    display: inline-block;
    width: calc(100% / 2);
    vertical-align: top;
    max-width: unset;
  }

  @include respond-pastry(large) {
    display: inline-block;
    width: calc(100% / 3);
    vertical-align: top;
  }
}

.pastry-product-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
  }
}

.pastry-product-hidden-caption {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  background-color: rgba(183, 4, 79, 0.8);
  color: #fefefe;
  padding: 12px;
  transition: opacity 0.4s ease;

  h5 {
    margin-bottom: 10px;
  }

  .cta-defaults {
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
    background: none;
    border: 1px solid rgba(254, 254, 254, 0.7);
    color: #fefefe;
    margin-top: 8px;
    text-transform: unset;
    font-weight: normal;
    font-size: 14px;

    &:hover {
      background-color: #fefefe;
      color: $primary-color;
    }
  }
}